---
layout: layouts/home.njk
eleventyNavigation:
  key: Events
  order: 2
---
<h1>Events</h1>

📅 Subscribe to the <a href="https://bluehats.global/bluehats.ics">BlueHats calendar</a>.

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
